<!--  Use this file de deploy the real platform "Ubiquity" hardware in an integrated environnment (aka with other projects) 
		In this case you need to add the Orocos part of the deployment in your integrated deployment
-->
<launch>
	<include file="$(find arp_core)/script/ros/launch/machines.launch"/>
	<include file="$(find arp_hml)/script/ros/launch/ubiquity/geometry_ubiquity.launch"/>
	
  	<!--
  	<include file="$(find arp_hml)/script/ros/launch/ubiquity/hokuyo.launch"/>
  	<include file="$(find arp_hml)/script/ros/launch/ubiquity/dynamixel.launch"/>
  	-->
  	
</launch>
