<!--  Use this file de deploy the real platform "Protokrot" hardware -->
<launch>
	<include file="$(find arp_core)/script/ros/launch/machines.launch"/>
	
	<node name="Hokuyo" pkg="hokuyo_node" type="hokuyo_node" respawn="true" output="screen">
    	<param name="calibrate_time" type="bool" value="false"/> 
    	<param name="port" type="string" value="/dev/ttyACM0"/> 
  		<param name="intensity" type="bool" value="false"/> 
  	</node>
	<node 	name="HokuyoTfBroadcaster"
			pkg="tf" 
			type="static_transform_publisher" 
			args="0.260 0.053 0 0 0 0 base_link laser 100"
			respawn="true" />
	<node 	name="ArpHml" 
			pkg="ocl" 
			type="deployer-gnulinux" 
			args="-s $(find arp_hml)/script/orocos/deployment/deploy_protokrot.ops --" 
			output="screen"
			respawn="false"
			/>
</launch>
