<launch>
	<include file="$(find arp_master)/script/ros/include/common_includes_simul.xml"/>

	<node 
		name="MotionTestingStratNode" 
		pkg="arp_master" 
		type="MotionTestingStratNode.py"
		args="" 
		output="screen" 
		launch-prefix="nice"
		respawn="false"
		required="true"
		launch-prefix="nice -n 19"
	/>
</launch>
