/* 
	CSS stylesheet for Parts presentation
*/

div#part {
margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 50px;
	width:75%;
	background-color:#F5ECCE;
	}
div#navigation {
margin-left: auto;
  margin-right: auto;
	width:75%;
	background-color:#D8D8D8;
	}
	
div#title {
margin-left: auto;
  margin-right: auto;
	width:50%;
	}
	
div#main_icon img{ 
  float:center; 
  border:1px solid #b0b0b0; 
  margin:10px 10px 10px 10px; 
 width:300px;
 height:150px;
} 
	
div#definition_documents {
margin-left: auto;
  margin-right: auto;
	width:50%;
	}
	
div#article_data {
margin-left: auto;
  margin-right: auto;
	width:50%;
	}
	
div#supplier_documents {
margin-left: auto;
  margin-right: auto;
	width:50%;
	}

div#bom {
margin-left: auto;
  margin-right: auto;
	width:80%;
	}
	
div#comments {
margin-left: auto;
  margin-right: auto;
  font-style: italic;
  font:normal 12px verdana, arial, helvetica, sans-serif;
	width:80%;
	}
	
table { background:#D3E4E5;
 border:1px solid gray;
 border-collapse:collapse;
 color:#fff;
 font:normal 12px verdana, arial, helvetica, sans-serif;
 	width:100%;
}
caption { border:1px solid #5C443A;
 color:#5C443A;
 font-weight:bold;
 letter-spacing:10px;
 padding:6px 4px 8px 0px;
 text-align:center;
 text-transform:uppercase;
}
div#title caption{
background-color:#D8D8D8;
}

td, th { color:#363636;
 padding:.4em;
}
tr { border:1px dotted gray;
}
thead th, tfoot th { background:#5C443A;
 color:#FFFFFF;
 padding:3px 10px 3px 10px;
 text-align:center;
 text-transform:uppercase;
}
tbody th, tbody td { text-align:left;
 vertical-align:top;
}

tbody td+td { text-align:center;
}

tfoot td { background:#5C443A;
 color:#FFFFFF;
 padding-top:3px;
}
.odd { background:#fff;
}
div#bom tbody tr:hover { background:#99BCBF;
 border:1px solid #03476F;
 color:#000000;
}