<launch>
	<node 	name="StartupBashScript" 
		pkg="arp_core" 
		type="deployment_loading.sh"
		/>
	<include file="$(find arp_core)/script/ros/launch/machines.launch"/>
	<include file="$(find arp_master)/script/ros/launch/rosparam.launch"/>
	
	<node name="StratNode_AutomV2"   pkg="arp_master"  type="Autom_v2.py"  
		args="" output="screen"
		respawn="true"
	/>
	<node 	name="ArpOrocos" 
		pkg="ocl" 
		type="deployer-corba-gnulinux" 
		args="-s $(find arp_master)/script/orocos/deployment/deploy_arp_master_simul.ops --" 
		output="screen"
		respawn="false"
		required="true"
		/>
	
	<include file="$(find arp_hml)/script/ros/launch/arp_hml_ros_simul.launch"/>
	<!-- pas besoin pour le moment <include file="$(find arp_ods)/script/ros/launch/arp_ods_ros.launch"/> -->
	<!-- pas besoin pour le moment <include file="$(find arp_rlu)/script/ros/launch/arp_rlu_ros.launch"/> -->
	<include file="$(find arp_master)/script/ros/launch/arp_master_ros.launch"/>
	<node name="GraphicsSimu"     pkg="arp_master"  type="GraphicsSimuNode"     args="/Ubiquity/simuRealPose" output="screen" launch-prefix="nice"/>
</launch>