
<launch>
	<include file="$(find arp_core)/script/ros/launch/machines.launch"/>
	<node 	name="ArpCore" 
			pkg="ocl" 
			type="deployer" 
			args="-lwarning -s $(find arp_core)/script/orocos/deployment/deploy_timer_test.ops --" 
			output="screen"
			respawn="false"
			required="true"
			/>
</launch>
