<!--  use this launch file to monitor a running robot -->
<launch>
	<env name="ROS_MASTER_URI" value="http://beta:11311"></env>
	<include file="$(find arp_core)/script/ros/launch/machines.launch"/>
	<node 	name="GraphicsSimu"     
			pkg="arp_master"  
			type="GraphicsSimuNode"     
			args="/Localizator/pose" 
			output="screen" 
	/>
	<-- <node 	name="rviz" 
			pkg="rviz" 
			type="rviz" 
			respawn="false" 
			output="screen" 
			args="-d $(find arp_hml)/script/ros/hml.vcg"
	/>-->
			
</launch>