<launch>
	<include file="$(find arp_core)/script/ros/launch/machines.launch"/>
	<include file="$(find arp_master)/script/ros/launch/rosparam.launch"/>
	<node name="ArpOrocos" pkg="ocl" type="deployer-corba-gnulinux" args="-s $(find
		arp_master)/script/orocos/deployment/deploy_arp_master_manual.ops --" output="screen"
		respawn="false"
		required="true"
		/>

	<include file="$(find arp_hml)/script/ros/launch/arp_hml_ros.launch"/>

	<node name="ManualStratNode" pkg="arp_master" type="ManualStratNode.py"
		args="" output="screen"
	respawn="true"
	/>
</launch>