<launch>
	<include file="$(find arp_core)/script/ros/launch/machines.launch"/>
	<include file="$(find arp_master)/script/ros/launch/rosparam.launch"/>
	<node name="ArpOrocos" pkg="ocl" type="deployer-corba" args="-s $(find arp_master)/script/orocos/deployment/deploy_arp_master_manual_simul.ops
		--" output="screen"
		respawn="false"
		required="true"
		/>
	<include file="$(find arp_hml)/script/ros/launch/arp_hml_ros_simul.launch"/>
	<node name="GraphicsSimu" pkg="arp_master" type="GraphicsSimuNode" args="/Ubiquity/simuRealPose"
		output="screen" launch-prefix="nice"/>
	<node name="ManualStratNode" pkg="arp_master" type="ManualStratNode.py" 		
		args="" output="screen"
		respawn="true"
	/>
</launch>