<!--  Use this file if you whant to operate the robot with the keyboard in a manual mode -->
<launch>
	<include file="$(find arp_core)/script/ros/launch/machines.launch"/>
	<include file="$(find arp_master)/script/ros/launch/rosparam.launch"/>
	<include file="$(find arp_hml)/script/ros/launch/simul_protokrot.launch"/>
	<include file="$(find arp_rlu)/script/ros/launch/arp_rlu.launch"/>
	<include file="$(find arp_ods)/script/ros/launch/teleop_ods.launch"/>
	<node name="TinyStrat" 	pkg="arp_master" 	type="TinyStratNode" 		args="" output="screen"/>
	<node name="GraphicsSimu"     pkg="arp_master"  type="GraphicsSimuNode"     args="/Protokrot/pose" output="screen"/>
</launch>
