<launch>
	<include file="$(find ubiquity)/src/subsystems/time/common_includes_simul.xml"/>
	<include file="$(find arp_core)/script/ros/launch/machines.launch"/>
	<include file="$(find arp_hml)/script/ros/launch/arp_hml_ros.launch"/>
	<include file="$(find arp_music)/script/ros/launch/arp_music.launch"/>
	<include file="$(find arp_master)/script/ros/include/rosparam.xml"/>
	<include file="$(find arp_master)/script/ros/include/orocos.xml"/>
	<node 
		name="ManualStratNode" 
		pkg="arp_master" 
		type="ManualStratNode.py" 		
		args="" 
		output="screen"
		respawn="true"
		launch-prefix="nice -n 19"
	/>
</launch>