<!--  Use this file de deploy the real platform "Ubiquity" hardware -->
<launch>
	<node 	name="TopHokuyoTfBroadcaster"
			pkg="tf" 
			type="static_transform_publisher" 
			args="-0.058 0.000 0.399 0 0 0 base_link top_laser 100"
			respawn="true" />
	<node 	name="FrontHokuyoTfBroadcaster"
			pkg="tf" 
			type="static_transform_publisher" 
			args="0.034 0.000 0.211 0 0 0 base_link top_laser 100"
			respawn="true" />
</launch>
