/*
 ARD colors :
 	bleu ciel : 		#e8ecf6
 	bleu foncé : 		#4a64aa
 	gris backgorund : 	#3c404c
*/
html {
	height: 100%;
	font-family: tahoma;
	font-size: 25px;
}

body {
	height: 100%;
	margin: auto;
	/*background-image: url("../ressource/slide.gif");*/
	background-repeat: no-repeat;
}

header {
	color: #4a64aa;
  background-image: url("../ressource/slide.gif");
	/*background-image: url("../ressource/topmenu_ard.png");*/
	background-repeat: no-repeat;
	background-position:center; 
	width: 940px;
	height: 450px;
	margin-left: 42px;
	padding-top: 10px;
	margin-bottom: 50px;
}

header p
{
	margin-left: 50px;
}

section {
	color: #4a64aa;
	width: 940px;
	margin-left: 42px;
	margin-top: 20 px;
}

section p
{
	margin-left: 50px;
}

footer
{
  color: #4a64aa;
  width: 940px;
  height: 60px;
  margin-left: 42px;
  margin-right: 42px;
}

.button
{
	color: #ffffff;
	background-color: #3c404c;
	border-radius: 10px;
	font-size: 40px;
	width: 200px;
	height: 40px;
	text-align: center;
	padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.state
{
  color: #4a64aa;
  vertical-align: middle;
}

.floatright 
{ 
	float: right; 
}

logOrocos
{ 
  color: #000000;
  font-size:15px;
  display : block; 
  background-color : #ffffff;
}

a
{
	text-decoration:none;
	color: #ffffff;
}
